<ion-content [fullscreen]="true">
  <ion-content >
    <ion-img style="margin-top: 100px;" src="../assets/img/undraw_education_f8ru.png">

    </ion-img>
    <ion-title style="font-size: 30px; text-align: center; margin-top: 20px;">
      Ingresa un nombre
    </ion-title>
    <ion-input style="font-size: 30px; text-align: center; margin-top: 20px;" placeholder="Enter name"></ion-input>
    <ion-button expand="block" style="margin-top: 40px;"  color="warning" href="#">
      Crear
    </ion-button>

  </ion-content>
</ion-content>
