<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>ezQuote</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" autoHide="false"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1 style="align-items: center; text-align: center;">
    Lista de utiles
  </h1>
  <ion-list style="align-items: center; text-align: center;" *ngFor="let list of initialList">
    <ion-item [routerLink]="['/viewlistas', list.id]">
      <ion-avatar style="margin-left: 10px;">
        <ion-icon name="albums"></ion-icon><ion-icon name="albums"></ion-icon><br>
        <ion-icon name="albums"></ion-icon><ion-icon name="add"></ion-icon>
      </ion-avatar>
      <ion-label style="margin-left: 10px;">
        <h2>{{list.name_person}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="end" (click)="newList()">
      <ion-icon name="add"></ion-icon><ion-label>New List</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
