
ion-searchbar > div > input { border-radius: 100px !important;}

ion-thumbnail {
    background-color: gray;
    border-radius: 5px;
    size-adjust: 10%;
}


.check-list-width {
    width: 10%;
    height: 35%;
}

.thumbnail {
    height: 60%;
    width: 15%;
  }

  ion-checkbox {
    --border-color: red no-repeat;
  }