
ion-searchbar > div > input { border-radius: 100px !important;}

ion-thumbnail {
    background-color: gray;
    border-radius: 5px;
    size-adjust: 10%;
}


.btn-list-width {
    width: 10%;
}

.thumbnail {
    height: 60%;
    width: 15%;
  }