<ion-header>
  <ion-toolbar>
    <ion-title>contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-header [translucent]="true">
      <ion-toolbar class="skew">
        <ion-img class="image" src="" alt="img"></ion-img>
          <ion-label class="titule">
            Cuadernos
          </ion-label>
          <ion-label class="subtitule">
          </ion-label>
      </ion-toolbar>
    </ion-header>
    <ion-list style="padding-top: 8%; ">
      <ion-item *ngFor="let proveedor of cuadernos" [routerLink]="['/contacts', proveedor.id]">
        <ion-avatar slot="start">
          <ion-img src="../assets/img/user.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2 class="description">{{ proveedor.nombre + ' ' + proveedor.apellidoPaterno}}</h2>
          <h3 class="description">{{ proveedor.email }}</h3>
          <h2 class="description">{{ proveedor.equipo }}</h2>
        </ion-label>
        <div class="button-mas" >
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
