<ion-header class="ion-no-border">
  <ion-toolbar style="font-size: 25px; margin-top: 20px; margin-left: 20px;">
    <ion-label>
      <ion-icon name="arrow-back"></ion-icon>
      <label>&nbsp;&nbsp;&nbsp;Cotizacion Uziel lista </label>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="align-items: center; text-align: center;">
    <ion-list-header>
      <ion-label><h6>Detalle Producto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></ion-label>
      <ion-label><h6>Cantidad&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></ion-label>
    <ion-label><h6>Subtotal</h6></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar>
        <img class="icon-product" src="../../../assets/icon/cuaderno.jpg">
      </ion-avatar>
      <ion-label style="margin-left: 10px;">
        <h2>Libreta</h2>
        <h3>$100 pesos</h3>
      </ion-label>
      <ion-label style="margin-left: 50px;">
        <h1>4</h1>
      </ion-label>
      <ion-label slot="end">
        <h2>$400</h2>
        <h3>Pesos</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer style="margin-bottom: 20px;">
  <ion-toolbar style="text-align: center; font-size: 30px;">
    <ion-label style="margin-top: 20px;">Total &nbsp;&nbsp;&nbsp; $400 Pesos</ion-label>
  </ion-toolbar>
</ion-footer>
