<!---Boton de hamburgueza-->
<ion-menu-button autoHide="false"></ion-menu-button>

<!--- contenido del menu -->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start"> </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>ezQuote</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="skew ion-margin-top">
        <ion-img
          class="image ion-margin-top"
          src="../../assets/img/fondo_cuadernos.jpg"
        ></ion-img>
        <ion-label class="titule"> Cuadernos </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment
          (ionChange)="segmentChanged($event)"
          [value]="valueSelectedSegment"
        >
          <ion-segment-button value="2">
            <ion-label>Walmart</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label>Amazon</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-col>
      <!-- Productos de amazon-->
      <ion-list *ngIf="valueSelectedSegment === 1">
        <ion-item *ngFor=" let c of filteredProducts ">
          <ion-col size="2">
            <img [routerLink]="['/products', c.id]" style="cursor: pointer;" class="icon-product" src="{{ c.image }}" alt="img" />
          </ion-col>
          <ion-col size="7" [routerLink]="['/products', c.id]" style="cursor: pointer;">
            <ion-label>
              <p class="description">{{c.title}}</p>
              <p class="description">
                {{(c.amazonPrime) ? 'Es Prime' : 'No prime'}}
              </p>
              <p class="description">
                {{'$' + c.price }} {{(c.priceSymbol) ? c.priceSymbol : 'MXN'}}
              </p>
            </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-col>
                <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="2" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="3" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="4" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="5" title="Votar con 1 estrellas">&#9733;</a>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-item>
      </ion-list>
      <!-- Productos de walmart -->
      <ion-list *ngIf="valueSelectedSegment === 2">
        <ion-item *ngFor=" let c of filteredProducts ">
          <ion-col size="2">
            <img [routerLink]="['/products', c.id]" style="cursor: pointer;" class="icon-product" src="{{ c.image }}" alt="img" />
          </ion-col>
          <ion-col size="7" [routerLink]="['/products', c.id]" style="cursor: pointer;">
            <ion-label>
              <p class="description">{{c.title}}</p>
              <p class="description">
                {{(c.amazonPrime) ? 'Es Prime' : 'No prime'}}
              </p>
              <p class="description">
                {{'$' + c.price }} {{(c.priceSymbol) ? c.priceSymbol : 'MXN'}}
              </p>
            </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-col>
                <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="2" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="3" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="4" title="Votar con 1 estrellas">&#9733;</a>
                <a data-value="5" title="Votar con 1 estrellas">&#9733;</a>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cotizacion()" [routerLink]="['../listas/viewlistas/cotizacion']" expand="full" >Cotizar</ion-button>
  </ion-toolbar>
</ion-footer>