<ion-header>
  <ion-toolbar>
    <ion-title>product-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ion-header class="ion-no-border">
    <ion-toolbar class="skew">
      <ion-img class="image" src="../../assets/img/fondo_cuadernos.jpg"></ion-img>
        <ion-label class="titule">
          Cuadernos
        </ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-list >
    <ion-item ng-repeat-start = "p in product">
      <img class="icon-product" src="{{ p.main_image.link }}">
      <ion-label>
        <h2 class="description">{{p.title}}</h2>
        <h3 class="description">{{p.brand}}</h3>
        <h2 class="description">{{'$' + p.buybox_winner.price }} 'MXN'}}</h2>
      </ion-label>
      <div class="ec-stars-wrapper" >
        <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
        <a data-value="2" title="Votar con 1 estrellas">&#9733;</a>
        <a data-value="3" title="Votar con 1 estrellas">&#9733;</a>
        <a data-value="4" title="Votar con 1 estrellas">&#9733;</a>
        <a data-value="5" title="Votar con 1 estrellas">&#9733;</a>
      </div>
      <div class="button-mas" >
        <ion-button>+</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
