
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-header [translucent]="true">
      <ion-toolbar class="skew">
        <ion-img class="image" src="../../assets/img/fondo_cuadernos.jpg"></ion-img>
          <ion-label class="titule">
            Cuadernos
          </ion-label>
          <ion-label class="subtitule">
            {{cuadernos.length + '  Productos'}}
          </ion-label>
      </ion-toolbar>
    </ion-header>
    <ion-list style="padding-top: 8%; ">
      <ion-item *ngFor = " let c of cuadernos " >
        <img class="icon-product" src="{{ c.image }}">
        <ion-label>
          <h2 class="description">{{c.descripcion}}</h2>
          <h3 class="description">{{c.marca}}</h3>
          <h2 class="description">{{'$' + c.precio + '.00'}}</h2>
        </ion-label>
        <div class="ec-stars-wrapper">
          <a data-value="1" title="Votar con 1 estrellas">&#9733;</a>
          <a data-value="2" title="Votar con 2 estrellas">&#9733;</a>
          <a data-value="3" title="Votar con 3 estrellas">&#9733;</a>
          <a data-value="4" title="Votar con 4 estrellas">&#9733;</a>
          <a data-value="5" title="Votar con 5 estrellas">&#9733;</a>
        </div>
        <div class="button-mas" >
          <ion-button> {{ c.mas }}</ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
