
<ion-content [fullscreen]="true">
    <ion-content >
      <ion-img style="margin-top: 100px;" src="../assets/img/undraw_education_f8ru.png">

      </ion-img>
      <ion-title style="font-size: 30px; text-align: center; margin-top: 20px;">
        Carga tu lista
      </ion-title>
      <ion-button style="display: flex; align-items: center; justify-content: center; margin-top: 50px;" color="warning">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>

    </ion-content>
</ion-content>
